-- MySQL dump 10.13  Distrib 8.0.30, for Win64 (x86_64)
--
-- Host: localhost    Database: phuongnamv_db_new
-- ------------------------------------------------------
-- Server version	8.0.30

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `cf_code`
--

DROP TABLE IF EXISTS `cf_code`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cf_code` (
  `id` int NOT NULL AUTO_INCREMENT,
  `ten` varchar(255) NOT NULL,
  `hinh_anh` varchar(255) DEFAULT NULL,
  `id_loai` int NOT NULL,
  `module` int NOT NULL,
  `so_thu_tu` int NOT NULL,
  `hien_thi` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=785 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cf_code`
--

LOCK TABLES `cf_code` WRITE;
/*!40000 ALTER TABLE `cf_code` DISABLE KEYS */;
/*!40000 ALTER TABLE `cf_code` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cf_parent`
--

DROP TABLE IF EXISTS `cf_parent`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cf_parent` (
  `id` int NOT NULL AUTO_INCREMENT,
  `ten` text NOT NULL,
  `type` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=718 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cf_parent`
--

LOCK TABLES `cf_parent` WRITE;
/*!40000 ALTER TABLE `cf_parent` DISABLE KEYS */;
/*!40000 ALTER TABLE `cf_parent` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_album`
--

DROP TABLE IF EXISTS `db_album`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_album` (
  `id` int NOT NULL AUTO_INCREMENT,
  `ten` varchar(255) NOT NULL,
  `alias` varchar(255) NOT NULL,
  `hinh_anh` varchar(255) NOT NULL,
  `noi_dung` text NOT NULL,
  `title` varchar(255) NOT NULL,
  `keyword` text NOT NULL,
  `des` text NOT NULL,
  `ngay_dang` int NOT NULL,
  `tieu_bieu` int NOT NULL DEFAULT '0',
  `cap_nhat` int NOT NULL,
  `id_code` int NOT NULL,
  `id_loai` int NOT NULL,
  `so_thu_tu` int NOT NULL,
  `hien_thi` tinyint NOT NULL,
  `lang` varchar(10) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `alias` (`alias`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_album`
--

LOCK TABLES `db_album` WRITE;
/*!40000 ALTER TABLE `db_album` DISABLE KEYS */;
/*!40000 ALTER TABLE `db_album` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_album_hinhanh`
--

DROP TABLE IF EXISTS `db_album_hinhanh`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_album_hinhanh` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_album` int NOT NULL,
  `id_loai` int DEFAULT NULL,
  `hinh_anh` varchar(255) NOT NULL,
  `stt` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_album_hinhanh`
--

LOCK TABLES `db_album_hinhanh` WRITE;
/*!40000 ALTER TABLE `db_album_hinhanh` DISABLE KEYS */;
INSERT INTO `db_album_hinhanh` VALUES (23,675,NULL,'album/cayque_lcai.jpg',0),(24,676,NULL,'album/cayque_lcai.jpg',0);
/*!40000 ALTER TABLE `db_album_hinhanh` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_binhluan`
--

DROP TABLE IF EXISTS `db_binhluan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_binhluan` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_sanpham` int NOT NULL DEFAULT '0',
  `id_tin` int DEFAULT NULL,
  `id_user` int NOT NULL DEFAULT '0',
  `ho_ten` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `dien_thoai` varchar(255) DEFAULT NULL,
  `tieu_de` text,
  `noi_dung` text,
  `danh_gia` int NOT NULL DEFAULT '0',
  `parent` int DEFAULT '0',
  `ngay` datetime NOT NULL,
  `trang_thai` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_binhluan`
--

LOCK TABLES `db_binhluan` WRITE;
/*!40000 ALTER TABLE `db_binhluan` DISABLE KEYS */;
/*!40000 ALTER TABLE `db_binhluan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_binhluan_media`
--

DROP TABLE IF EXISTS `db_binhluan_media`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_binhluan_media` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_binhluan` int NOT NULL DEFAULT '0',
  `loai` enum('image','video') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'image',
  `ten_file` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `ngay` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `id_binhluan` (`id_binhluan`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_binhluan_media`
--

LOCK TABLES `db_binhluan_media` WRITE;
/*!40000 ALTER TABLE `db_binhluan_media` DISABLE KEYS */;
INSERT INTO `db_binhluan_media` VALUES (1,29,'image','20260323175635_80faad62.jpg','2026-03-23 17:57:26'),(2,29,'image','20260323175640_b285ecf6.jpg','2026-03-23 17:57:26'),(3,29,'image','20260323175640_632088df.jpg','2026-03-23 17:57:26'),(4,30,'video','12764946-uhd_3840_2160_60fps.mp4','2026-03-23 18:00:26');
/*!40000 ALTER TABLE `db_binhluan_media` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_button_contact`
--

DROP TABLE IF EXISTS `db_button_contact`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_button_contact` (
  `id` int NOT NULL AUTO_INCREMENT,
  `image` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `link` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `target` char(10) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `color_background` char(30) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `color_background_alpha` char(30) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `color_text` char(30) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `sort` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_button_contact`
--

LOCK TABLES `db_button_contact` WRITE;
/*!40000 ALTER TABLE `db_button_contact` DISABLE KEYS */;
INSERT INTO `db_button_contact` VALUES (8,'icon/facebook.png','Facebook','https://www.facebook.com/','_self','#1877f2','rgba(24, 119, 242, 0.5)','#000000',0),(9,'icon/zalo.png','Twitter','https://x.com/?lang=vi','_blank','#0068ff','rgba(0, 104, 255, 0.5)','#000000',1),(10,'icon/call.png','Hotline','tel:0123456789','_self','#d10000','rgba(201, 43, 43, 0.5)','#000000',2);
/*!40000 ALTER TABLE `db_button_contact` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_categories`
--

DROP TABLE IF EXISTS `db_categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_categories` (
  `id` int NOT NULL AUTO_INCREMENT,
  `parent_id` int NOT NULL DEFAULT '0',
  `id_code` int NOT NULL DEFAULT '0',
  `alias` varchar(255) DEFAULT NULL,
  `name` varchar(255) DEFAULT NULL,
  `description` text,
  `content` text,
  `image` varchar(255) DEFAULT NULL,
  `banner` varchar(255) DEFAULT NULL,
  `sort_order` int NOT NULL DEFAULT '0',
  `is_active` tinyint(1) NOT NULL DEFAULT '0',
  `noi_bat` tinyint(1) DEFAULT '0',
  `module` int NOT NULL DEFAULT '0',
  `lang` varchar(5) DEFAULT NULL,
  `nofollow` int NOT NULL DEFAULT '0',
  `noindex` int NOT NULL DEFAULT '0',
  `title` varchar(255) DEFAULT NULL,
  `keyword` varchar(255) DEFAULT NULL,
  `seo_description` text,
  `seo_head` text,
  `seo_body` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `alias` (`alias`)
) ENGINE=MyISAM AUTO_INCREMENT=374 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_categories`
--

LOCK TABLES `db_categories` WRITE;
/*!40000 ALTER TABLE `db_categories` DISABLE KEYS */;
/*!40000 ALTER TABLE `db_categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_category_noidung`
--

DROP TABLE IF EXISTS `db_category_noidung`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_category_noidung` (
  `id` int NOT NULL AUTO_INCREMENT,
  `ten` varchar(255) NOT NULL,
  `link` text NOT NULL,
  `nofollow` int NOT NULL DEFAULT '0',
  `target` int NOT NULL DEFAULT '0',
  `heading` varchar(10) DEFAULT 'div',
  `noi_dung` text NOT NULL,
  `hinh_anh` varchar(255) NOT NULL,
  `background` varchar(500) NOT NULL,
  `hien_thi` int NOT NULL,
  `id_code` int NOT NULL,
  `lang` varchar(10) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=135 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_category_noidung`
--

LOCK TABLES `db_category_noidung` WRITE;
/*!40000 ALTER TABLE `db_category_noidung` DISABLE KEYS */;
/*!40000 ALTER TABLE `db_category_noidung` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_content`
--

DROP TABLE IF EXISTS `db_content`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_content` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_loai` int NOT NULL,
  `hinh_anh` text CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci NOT NULL,
  `so_thu_tu` int NOT NULL,
  `hien_thi` int NOT NULL,
  `ten` text CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci NOT NULL,
  `ten_phu` varchar(1000) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  `link` text CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci NOT NULL,
  `nofollow` int NOT NULL DEFAULT '0',
  `target` int NOT NULL DEFAULT '0',
  `heading` varchar(10) NOT NULL DEFAULT 'div',
  `noi_dung` text CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci NOT NULL,
  `video` varchar(200) DEFAULT NULL,
  `ma_video` varchar(100) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL,
  `id_code` int NOT NULL,
  `lang` varchar(10) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL,
  `ngay_tao` varchar(50) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=274 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_content`
--

LOCK TABLES `db_content` WRITE;
/*!40000 ALTER TABLE `db_content` DISABLE KEYS */;
/*!40000 ALTER TABLE `db_content` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_coupon`
--

DROP TABLE IF EXISTS `db_coupon`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_coupon` (
  `id` int NOT NULL AUTO_INCREMENT,
  `ho_ten` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `sdt` varchar(20) DEFAULT NULL,
  `dia_chi` varchar(255) DEFAULT NULL,
  `ten_cong_ty` varchar(255) DEFAULT NULL,
  `tieu_de` text,
  `noi_dung` text,
  `ngay_hoi` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `tra_loi` text,
  `ngay_traloi` int NOT NULL,
  `nguoi_traloi` varchar(255) DEFAULT NULL,
  `trang_thai` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_coupon`
--

LOCK TABLES `db_coupon` WRITE;
/*!40000 ALTER TABLE `db_coupon` DISABLE KEYS */;
/*!40000 ALTER TABLE `db_coupon` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_dathang`
--

DROP TABLE IF EXISTS `db_dathang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_dathang` (
  `id` int NOT NULL AUTO_INCREMENT,
  `ma_dh` varchar(100) NOT NULL,
  `id_thanhvien` int NOT NULL DEFAULT '0',
  `ho_ten` varchar(100) NOT NULL,
  `dien_thoai` varchar(50) NOT NULL,
  `email` varchar(200) NOT NULL,
  `so_nha` text,
  `phuong` varchar(100) DEFAULT NULL,
  `quan` varchar(100) NOT NULL,
  `thanh_pho` varchar(100) NOT NULL,
  `dia_chi` text NOT NULL,
  `loi_nhan` text NOT NULL,
  `thanh_toan` text NOT NULL,
  `phi_vanchuyen` int DEFAULT '0',
  `ma_giamgia` varchar(100) DEFAULT NULL,
  `so_tien_giam` int NOT NULL DEFAULT '0',
  `vat_amount` double DEFAULT '0',
  `ngay_dathang` date NOT NULL,
  `tinhtrang_donhang` int NOT NULL COMMENT '0: ch╞░a x├íc thß╗▒c, 1: ─æ├ú x├íc thß╗▒c',
  `trangthai_xuly` int NOT NULL DEFAULT '0' COMMENT '0:ch╞░a xem, 1:─æang xß╗¡ l├╜, 2: ─æang giao, 3 ─æ├ú giao, 4: trß║ú h├áng',
  `trangthai_thanhtoan` int DEFAULT '0',
  `ngay_capnhat` date DEFAULT NULL,
  `ngay_thanhtoan` date DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_dathang`
--

LOCK TABLES `db_dathang` WRITE;
/*!40000 ALTER TABLE `db_dathang` DISABLE KEYS */;
/*!40000 ALTER TABLE `db_dathang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_dathang_chitiet`
--

DROP TABLE IF EXISTS `db_dathang_chitiet`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_dathang_chitiet` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_ctv` int DEFAULT NULL,
  `id_dh` int NOT NULL DEFAULT '0',
  `ma_dh` varchar(100) DEFAULT NULL,
  `ten_sp` text,
  `thuoc_tinh` text,
  `ghi_chu` text,
  `gia_goc` int NOT NULL DEFAULT '0',
  `gia_ban` int NOT NULL DEFAULT '0',
  `so_luong` int NOT NULL DEFAULT '0',
  `id_sp` int NOT NULL DEFAULT '0',
  `hinh_sp` text,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_dathang_chitiet`
--

LOCK TABLES `db_dathang_chitiet` WRITE;
/*!40000 ALTER TABLE `db_dathang_chitiet` DISABLE KEYS */;
/*!40000 ALTER TABLE `db_dathang_chitiet` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_dathang_xuly`
--

DROP TABLE IF EXISTS `db_dathang_xuly`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_dathang_xuly` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_dh` int NOT NULL,
  `trang_thai_xuly` int NOT NULL,
  `ghi_chu` text NOT NULL,
  `ngay_xuly` datetime NOT NULL,
  `nguoi_xuly` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_dathang_xuly`
--

LOCK TABLES `db_dathang_xuly` WRITE;
/*!40000 ALTER TABLE `db_dathang_xuly` DISABLE KEYS */;
INSERT INTO `db_dathang_xuly` VALUES (1,2,2,'','2026-04-01 21:24:16','Admin'),(2,2,0,'','2026-04-01 21:57:39','Admin'),(3,2,2,'','2026-04-01 21:57:47','Admin'),(4,2,1,'','2026-04-01 21:57:58','Admin'),(5,2,2,'','2026-04-01 21:58:05','Admin'),(6,2,3,'','2026-04-01 21:58:12','Admin'),(7,2,5,'','2026-04-01 21:58:26','Admin'),(8,2,4,'','2026-04-01 21:58:41','Admin'),(9,2,6,'','2026-04-01 21:58:57','Admin'),(10,2,5,'','2026-04-01 21:59:12','Admin'),(11,2,3,'','2026-04-01 21:59:14','Admin');
/*!40000 ALTER TABLE `db_dathang_xuly` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_diachi`
--

DROP TABLE IF EXISTS `db_diachi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_diachi` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_thanhvien` int NOT NULL,
  `mo_ta` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `ho_ten` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `dien_thoai` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `dia_chi` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `code_xa` varchar(11) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `code_huyen` varchar(11) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `code_tinh` varchar(11) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `trang_thai` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_diachi`
--

LOCK TABLES `db_diachi` WRITE;
/*!40000 ALTER TABLE `db_diachi` DISABLE KEYS */;
INSERT INTO `db_diachi` VALUES (1,1,'Nh├á ri├¬ng','L├¬ Thß╗ï Thanh Nh├án','0964091594','kythuat02.pnvn@gmail.com','213 Chu V─ân An','26914','765','79',0),(3,1,'V─ân ph├▓ng','L├¬ Thß╗ï Thanh Nh├án','0964091594','kythuat02.pnvn@gmail.com','190 Bß║ích ─Éß║▒ng','26929','765','79',0),(4,1,'Nh├á ri├¬ng','L├¬ Thß╗ï Thanh Nh├án','0964091594','kythuat02.pnvn@gmail.com','860 X├┤ Viß║┐t Nghß╗ç T─⌐nh','26929','765','79',1);
/*!40000 ALTER TABLE `db_diachi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_files`
--

DROP TABLE IF EXISTS `db_files`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_files` (
  `id` int NOT NULL AUTO_INCREMENT,
  `ten` text NOT NULL,
  `alais` varchar(255) NOT NULL,
  `id_loai` int NOT NULL,
  `file` text NOT NULL,
  `mo_ta` text NOT NULL,
  `loai_file` varchar(50) NOT NULL,
  `ngay_dang` int NOT NULL,
  `link_khac` text NOT NULL,
  `hien_thi` tinyint NOT NULL,
  `id_code` int NOT NULL,
  `so_thu_tu` int NOT NULL,
  `lang` varchar(50) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_files`
--

LOCK TABLES `db_files` WRITE;
/*!40000 ALTER TABLE `db_files` DISABLE KEYS */;
/*!40000 ALTER TABLE `db_files` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_filter`
--

DROP TABLE IF EXISTS `db_filter`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_filter` (
  `id` int NOT NULL AUTO_INCREMENT,
  `ten` varchar(255) NOT NULL,
  `alias` varchar(500) NOT NULL,
  `link` text NOT NULL,
  `nofollow` int NOT NULL DEFAULT '0',
  `target` int NOT NULL DEFAULT '0',
  `heading` varchar(10) DEFAULT 'div',
  `noi_dung` text NOT NULL,
  `hinh_anh` varchar(255) NOT NULL,
  `hien_thi` int NOT NULL,
  `id_code` int NOT NULL,
  `lang` varchar(10) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_filter`
--

LOCK TABLES `db_filter` WRITE;
/*!40000 ALTER TABLE `db_filter` DISABLE KEYS */;
/*!40000 ALTER TABLE `db_filter` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_filter_content`
--

DROP TABLE IF EXISTS `db_filter_content`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_filter_content` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_loai` int NOT NULL,
  `hinh_anh` text CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci NOT NULL,
  `so_thu_tu` int NOT NULL,
  `hien_thi` int NOT NULL,
  `ten` text CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci NOT NULL,
  `s_price` int NOT NULL,
  `e_price` int NOT NULL,
  `link` text CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci NOT NULL,
  `nofollow` int NOT NULL DEFAULT '0',
  `target` int NOT NULL DEFAULT '0',
  `heading` varchar(10) NOT NULL DEFAULT 'div',
  `noi_dung` text CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci NOT NULL,
  `video` varchar(200) DEFAULT NULL,
  `ma_video` varchar(100) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL,
  `id_code` int NOT NULL,
  `lang` varchar(10) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=90 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_filter_content`
--

LOCK TABLES `db_filter_content` WRITE;
/*!40000 ALTER TABLE `db_filter_content` DISABLE KEYS */;
/*!40000 ALTER TABLE `db_filter_content` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_flash_sale`
--

DROP TABLE IF EXISTS `db_flash_sale`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_flash_sale` (
  `id` int NOT NULL AUTO_INCREMENT,
  `ten` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `tu_ngay` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `den_ngay` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `hien_thi` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_flash_sale`
--

LOCK TABLES `db_flash_sale` WRITE;
/*!40000 ALTER TABLE `db_flash_sale` DISABLE KEYS */;
INSERT INTO `db_flash_sale` VALUES (1,'Flash sale th├íng 12','2022-12-28T16:26','2022-12-29T16:26',1);
/*!40000 ALTER TABLE `db_flash_sale` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_huyen`
--

DROP TABLE IF EXISTS `db_huyen`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_huyen` (
  `id` int NOT NULL AUTO_INCREMENT,
  `code_tinh` varchar(255) NOT NULL,
  `code` varchar(255) NOT NULL,
  `ten` text NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=730 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_huyen`
--

LOCK TABLES `db_huyen` WRITE;
/*!40000 ALTER TABLE `db_huyen` DISABLE KEYS */;
/*!40000 ALTER TABLE `db_huyen` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_khuyenmai`
--

DROP TABLE IF EXISTS `db_khuyenmai`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_khuyenmai` (
  `id` int NOT NULL AUTO_INCREMENT,
  `ten` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `ma` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `gia_tri` int NOT NULL,
  `don_vi` int NOT NULL COMMENT '0: sß╗æ tiß╗ün, 1: phß║ºn tr─âm',
  `loai` int NOT NULL COMMENT '0: giß║úm tr├¬n tß╗òng gi├í trß╗ï, 1 giß║úm tr├¬n ph├¡ ship',
  `dieu_kien` int NOT NULL COMMENT '0: ko k├¿m ─æk,  >0 Gi├í trß╗ï ─æ╞ín h├áng ├íp dß╗Ñng',
  `tu_ngay` date NOT NULL,
  `den_ngay` date NOT NULL,
  `id_thanhvien` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `gioi_han` int NOT NULL COMMENT '0: ko giß╗¢i hß║ín. >0 sß╗æ l╞░ß╗út ├íp dß╗Ñng',
  `gia_tri_max` int DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_khuyenmai`
--

LOCK TABLES `db_khuyenmai` WRITE;
/*!40000 ALTER TABLE `db_khuyenmai` DISABLE KEYS */;
/*!40000 ALTER TABLE `db_khuyenmai` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_khuyenmai_ls`
--

DROP TABLE IF EXISTS `db_khuyenmai_ls`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_khuyenmai_ls` (
  `id` int NOT NULL AUTO_INCREMENT,
  `ma_km` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_thanhvien` int NOT NULL,
  `ngay_dung` date NOT NULL,
  `id_donhang` int DEFAULT '0',
  `email` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT '',
  `dien_thoai` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT '',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_khuyenmai_ls`
--

LOCK TABLES `db_khuyenmai_ls` WRITE;
/*!40000 ALTER TABLE `db_khuyenmai_ls` DISABLE KEYS */;
INSERT INTO `db_khuyenmai_ls` VALUES (5,'KHAITRUONGSHIP',1,'2022-10-13',0,'','');
/*!40000 ALTER TABLE `db_khuyenmai_ls` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_lang`
--

DROP TABLE IF EXISTS `db_lang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_lang` (
  `id` int NOT NULL AUTO_INCREMENT,
  `code` varchar(10) DEFAULT NULL,
  `locale` varchar(20) DEFAULT NULL,
  `name` varchar(100) DEFAULT NULL,
  `label` varchar(50) DEFAULT NULL,
  `image` varchar(255) DEFAULT NULL,
  `price_unit` varchar(10) DEFAULT NULL,
  `currency_symbol` varchar(10) DEFAULT NULL,
  `is_default` tinyint(1) DEFAULT '0',
  `is_rtl` tinyint(1) DEFAULT '0',
  `is_active` tinyint(1) DEFAULT '1',
  `sort_order` int DEFAULT '0',
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_lang`
--

LOCK TABLES `db_lang` WRITE;
/*!40000 ALTER TABLE `db_lang` DISABLE KEYS */;
INSERT INTO `db_lang` VALUES (1,'vi','vi_VN','Tiß║┐ng viß╗çt','VIE','lang/icon_vi.png','VND','Γé½',1,0,1,0),(2,'en','en_US','Tiß║┐ng anh','ENG','lang/icon_en.png','USD','$',0,0,1,1);
/*!40000 ALTER TABLE `db_lang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_lienhe`
--

DROP TABLE IF EXISTS `db_lienhe`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_lienhe` (
  `id` int NOT NULL AUTO_INCREMENT,
  `ho_ten` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `sdt` varchar(20) DEFAULT NULL,
  `dia_chi` varchar(255) DEFAULT NULL,
  `ten_cong_ty` varchar(255) DEFAULT NULL,
  `tieu_de` text,
  `noi_dung` text,
  `ngay_hoi` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `tra_loi` text,
  `ngay_traloi` int NOT NULL,
  `nguoi_traloi` varchar(255) DEFAULT NULL,
  `trang_thai` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=50 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_lienhe`
--

LOCK TABLES `db_lienhe` WRITE;
/*!40000 ALTER TABLE `db_lienhe` DISABLE KEYS */;
/*!40000 ALTER TABLE `db_lienhe` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_menu_items`
--

DROP TABLE IF EXISTS `db_menu_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_menu_items` (
  `id` int NOT NULL AUTO_INCREMENT,
  `menu_id` int NOT NULL,
  `parent_id` int NOT NULL DEFAULT '0',
  `sort_order` int NOT NULL DEFAULT '0',
  `label` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `url` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `class` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `style` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `block` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `target` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `image` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `type` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `object_type` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'custom',
  `object_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_menu_object` (`object_type`,`object_id`)
) ENGINE=InnoDB AUTO_INCREMENT=635 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_menu_items`
--

LOCK TABLES `db_menu_items` WRITE;
/*!40000 ALTER TABLE `db_menu_items` DISABLE KEYS */;
INSERT INTO `db_menu_items` VALUES (631,2,0,0,'Sß║ún phß║⌐m','san-pham','','default','','_self','','Danh mß╗Ñc','category',105),(632,2,0,1,'H├¼nh ß║únh','hinh-anh','','default','','_self','','Danh mß╗Ñc','category',234),(633,2,0,2,'Trang chß╗º','trang-chu','','default','','_self','','Danh mß╗Ñc','category',211),(634,2,0,3,'Tin tß╗⌐c','tin-tuc','','default','','_self','','Danh mß╗Ñc','category',163);
/*!40000 ALTER TABLE `db_menu_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_menu_locations`
--

DROP TABLE IF EXISTS `db_menu_locations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_menu_locations` (
  `location_label` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `location_name` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `lang` varchar(5) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `menu_id` int DEFAULT NULL,
  PRIMARY KEY (`location_name`,`lang`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_menu_locations`
--

LOCK TABLES `db_menu_locations` WRITE;
/*!40000 ALTER TABLE `db_menu_locations` DISABLE KEYS */;
INSERT INTO `db_menu_locations` VALUES ('Main Menu','primary','en',0),('Main Menu','primary','vi',2),('Secondary Menu','secondary','en',0),('Secondary Menu','secondary','vi',0),('Menu Sidebar','sidebar','en',0),('Menu Sidebar','sidebar','vi',0);
/*!40000 ALTER TABLE `db_menu_locations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_menus`
--

DROP TABLE IF EXISTS `db_menus`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_menus` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_menus`
--

LOCK TABLES `db_menus` WRITE;
/*!40000 ALTER TABLE `db_menus` DISABLE KEYS */;
INSERT INTO `db_menus` VALUES (2,'Menu Header - Tiß║┐ng Viß╗çt'),(3,'Menu Header - Tiß║┐ng Anh'),(4,'Danh mß╗Ñc sß║ún phß║⌐m Sidebar'),(5,'Menu SideBar');
/*!40000 ALTER TABLE `db_menus` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_module`
--

DROP TABLE IF EXISTS `db_module`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_module` (
  `id` int NOT NULL AUTO_INCREMENT,
  `stt` int NOT NULL,
  `hide` int NOT NULL,
  `title` text CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci NOT NULL,
  `templates` varchar(100) CHARACTER SET latin1 COLLATE latin1_swedish_ci NOT NULL,
  `setting` text NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_module`
--

LOCK TABLES `db_module` WRITE;
/*!40000 ALTER TABLE `db_module` DISABLE KEYS */;
/*!40000 ALTER TABLE `db_module` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_module_admin`
--

DROP TABLE IF EXISTS `db_module_admin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_module_admin` (
  `id` int NOT NULL AUTO_INCREMENT,
  `parent` int NOT NULL,
  `name` varchar(255) NOT NULL,
  `icon` varchar(255) DEFAULT NULL,
  `alias` varchar(100) NOT NULL,
  `route_name` varchar(255) DEFAULT NULL,
  `sort_order` int NOT NULL DEFAULT '0',
  `is_active` int NOT NULL DEFAULT '1',
  `permission_level` int NOT NULL DEFAULT '1',
  `badge_query` varchar(255) DEFAULT NULL,
  `badge_color` varchar(50) DEFAULT 'danger',
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=109 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_module_admin`
--

LOCK TABLES `db_module_admin` WRITE;
/*!40000 ALTER TABLE `db_module_admin` DISABLE KEYS */;
/*!40000 ALTER TABLE `db_module_admin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_newsletter`
--

DROP TABLE IF EXISTS `db_newsletter`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_newsletter` (
  `id` int NOT NULL AUTO_INCREMENT,
  `ho_ten` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `sdt` varchar(20) DEFAULT NULL,
  `dia_chi` varchar(255) DEFAULT NULL,
  `ten_cong_ty` varchar(255) DEFAULT NULL,
  `tieu_de` text,
  `noi_dung` text,
  `ngay_hoi` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `tra_loi` text,
  `ngay_traloi` int NOT NULL,
  `nguoi_traloi` varchar(255) DEFAULT NULL,
  `trang_thai` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_newsletter`
--

LOCK TABLES `db_newsletter` WRITE;
/*!40000 ALTER TABLE `db_newsletter` DISABLE KEYS */;
/*!40000 ALTER TABLE `db_newsletter` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_page`
--

DROP TABLE IF EXISTS `db_page`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_page` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_code` int DEFAULT '0',
  `ten` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `alias` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `view` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'page',
  `noi_dung` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `hinh_anh` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `title` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `keyword` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `description` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `so_thu_tu` int DEFAULT '0',
  `hien_thi` tinyint(1) DEFAULT '1',
  `lang` varchar(2) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'vi',
  `ngay_dang` int DEFAULT NULL,
  `cap_nhat` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `alias` (`alias`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_page`
--

LOCK TABLES `db_page` WRITE;
/*!40000 ALTER TABLE `db_page` DISABLE KEYS */;
/*!40000 ALTER TABLE `db_page` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_permission_action`
--

DROP TABLE IF EXISTS `db_permission_action`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_permission_action` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(20) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_permission_action`
--

LOCK TABLES `db_permission_action` WRITE;
/*!40000 ALTER TABLE `db_permission_action` DISABLE KEYS */;
INSERT INTO `db_permission_action` VALUES (1,'View'),(2,'Ediit'),(3,'Delete');
/*!40000 ALTER TABLE `db_permission_action` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_posts`
--

DROP TABLE IF EXISTS `db_posts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_posts` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_code` int NOT NULL,
  `title` varchar(255) DEFAULT NULL,
  `alias` varchar(255) NOT NULL,
  `description` text,
  `content` text,
  `image` varchar(255) DEFAULT NULL,
  `is_featured` tinyint(1) NOT NULL DEFAULT '0',
  `is_active` tinyint(1) NOT NULL DEFAULT '0',
  `seo_title` varchar(255) DEFAULT NULL,
  `keyword` varchar(255) NOT NULL,
  `tags` varchar(255) NOT NULL,
  `seo_description` text,
  `category_id` int NOT NULL DEFAULT '0',
  `sort_order` int NOT NULL DEFAULT '0',
  `nofollow` int NOT NULL DEFAULT '0',
  `noindex` int NOT NULL DEFAULT '0',
  `seo_head` text,
  `seo_body` text,
  `created_by` int NOT NULL DEFAULT '0',
  `views` int NOT NULL DEFAULT '0',
  `lang` varchar(10) NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `updated_by` int DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `alias` (`alias`)
) ENGINE=MyISAM AUTO_INCREMENT=137 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_posts`
--

LOCK TABLES `db_posts` WRITE;
/*!40000 ALTER TABLE `db_posts` DISABLE KEYS */;
/*!40000 ALTER TABLE `db_posts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_role_permissions`
--

DROP TABLE IF EXISTS `db_role_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_role_permissions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `role_id` int NOT NULL,
  `module_id` int NOT NULL,
  `can_view` tinyint(1) DEFAULT '0',
  `can_add` tinyint(1) DEFAULT '0',
  `can_edit` tinyint(1) DEFAULT '0',
  `can_delete` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `role_id` (`role_id`),
  KEY `module_id` (`module_id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_role_permissions`
--

LOCK TABLES `db_role_permissions` WRITE;
/*!40000 ALTER TABLE `db_role_permissions` DISABLE KEYS */;
INSERT INTO `db_role_permissions` VALUES (5,3,22,1,0,1,1);
/*!40000 ALTER TABLE `db_role_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_roles`
--

DROP TABLE IF EXISTS `db_roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_roles` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `is_system` tinyint(1) DEFAULT '0',
  `created_at` int DEFAULT NULL,
  `updated_at` int DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_roles`
--

LOCK TABLES `db_roles` WRITE;
/*!40000 ALTER TABLE `db_roles` DISABLE KEYS */;
INSERT INTO `db_roles` VALUES (2,'USER',NULL,1,0,NULL,1780877657),(3,'EDITOR','',1,0,NULL,1780894796),(4,'ADMINISTRATOR',NULL,1,1,NULL,NULL);
/*!40000 ALTER TABLE `db_roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_sanpham`
--

DROP TABLE IF EXISTS `db_sanpham`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_sanpham` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_loai` int NOT NULL,
  `id_code` int NOT NULL,
  `id_price` int NOT NULL,
  `alias` varchar(255) NOT NULL,
  `slug` varchar(255) DEFAULT NULL,
  `ma_sp` varchar(255) NOT NULL,
  `ten` varchar(255) NOT NULL,
  `mo_ta` text NOT NULL,
  `hinh_anh` varchar(255) DEFAULT NULL,
  `gia` int NOT NULL DEFAULT '0',
  `khuyen_mai` int NOT NULL DEFAULT '0',
  `noi_dung` text NOT NULL,
  `noi_dung_1` text,
  `noi_dung_2` text,
  `thong_so_kt` text CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci,
  `dvt` varchar(225) DEFAULT NULL,
  `video` text CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci,
  `file` text,
  `link_khac` text,
  `loai_file` varchar(100) DEFAULT NULL,
  `ngay_dang` int DEFAULT NULL,
  `cap_nhat` int NOT NULL,
  `tieu_bieu` tinyint(1) NOT NULL DEFAULT '0',
  `sp_moi` tinyint(1) NOT NULL DEFAULT '0',
  `sp_hot` tinyint NOT NULL DEFAULT '0',
  `sp_sale` tinyint NOT NULL DEFAULT '0',
  `sp_top` tinyint NOT NULL DEFAULT '0',
  `title` varchar(255) NOT NULL,
  `keyword` varchar(255) DEFAULT NULL,
  `des` varchar(255) DEFAULT NULL,
  `view` int NOT NULL DEFAULT '0',
  `hien_thi` tinyint(1) NOT NULL DEFAULT '1',
  `so_thu_tu` int NOT NULL,
  `nofollow` int NOT NULL DEFAULT '0',
  `noindex` int NOT NULL DEFAULT '0',
  `seo_head` text,
  `seo_body` text,
  `lang` varchar(10) NOT NULL,
  `flash_sale` int NOT NULL DEFAULT '0',
  `gia_flash_sale` int NOT NULL,
  `tang_kem` varchar(255) DEFAULT NULL,
  `da_ban` varchar(255) NOT NULL,
  `so_luong` int DEFAULT NULL,
  `product_attributes` text,
  `weight` decimal(10,2) DEFAULT '0.00',
  PRIMARY KEY (`id`),
  KEY `alias` (`alias`)
) ENGINE=MyISAM AUTO_INCREMENT=176 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_sanpham`
--

LOCK TABLES `db_sanpham` WRITE;
/*!40000 ALTER TABLE `db_sanpham` DISABLE KEYS */;
/*!40000 ALTER TABLE `db_sanpham` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_sanpham_bienthe`
--

DROP TABLE IF EXISTS `db_sanpham_bienthe`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_sanpham_bienthe` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_sanpham` int NOT NULL,
  `ma_sp` varchar(100) NOT NULL,
  `gia` int NOT NULL DEFAULT '0',
  `khuyen_mai` int NOT NULL DEFAULT '0',
  `so_luong` int NOT NULL DEFAULT '0',
  `hinh_anh` varchar(255) DEFAULT NULL,
  `hien_thi` tinyint(1) DEFAULT '1',
  `ngay_dang` varchar(255) DEFAULT NULL,
  `cap_nhat` varchar(255) NOT NULL,
  `weight` double DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `idx_id_sanpham` (`id_sanpham`)
) ENGINE=MyISAM AUTO_INCREMENT=376 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_sanpham_bienthe`
--

LOCK TABLES `db_sanpham_bienthe` WRITE;
/*!40000 ALTER TABLE `db_sanpham_bienthe` DISABLE KEYS */;
/*!40000 ALTER TABLE `db_sanpham_bienthe` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_sanpham_bienthe_thuoctinh`
--

DROP TABLE IF EXISTS `db_sanpham_bienthe_thuoctinh`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_sanpham_bienthe_thuoctinh` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_bienthe` int NOT NULL,
  `id_thuoctinh` int NOT NULL,
  `id_thuoctinh_giatri` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_id_bienthe` (`id_bienthe`)
) ENGINE=InnoDB AUTO_INCREMENT=1207 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_sanpham_bienthe_thuoctinh`
--

LOCK TABLES `db_sanpham_bienthe_thuoctinh` WRITE;
/*!40000 ALTER TABLE `db_sanpham_bienthe_thuoctinh` DISABLE KEYS */;
/*!40000 ALTER TABLE `db_sanpham_bienthe_thuoctinh` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_sanpham_ctv`
--

DROP TABLE IF EXISTS `db_sanpham_ctv`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_sanpham_ctv` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_sp` int NOT NULL DEFAULT '0',
  `id_thanhvien` int NOT NULL DEFAULT '0',
  `gia_goc` int NOT NULL,
  `gia` int NOT NULL DEFAULT '0',
  `khuyen_mai` int NOT NULL DEFAULT '0',
  `token` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `hien_thi` int NOT NULL DEFAULT '1',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_sanpham_ctv`
--

LOCK TABLES `db_sanpham_ctv` WRITE;
/*!40000 ALTER TABLE `db_sanpham_ctv` DISABLE KEYS */;
/*!40000 ALTER TABLE `db_sanpham_ctv` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_sanpham_hinhanh`
--

DROP TABLE IF EXISTS `db_sanpham_hinhanh`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_sanpham_hinhanh` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_sp` int NOT NULL,
  `hinh_anh` varchar(255) NOT NULL,
  `title` text CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci NOT NULL,
  `id_chitiet` int NOT NULL DEFAULT '0',
  `stt` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=106 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_sanpham_hinhanh`
--

LOCK TABLES `db_sanpham_hinhanh` WRITE;
/*!40000 ALTER TABLE `db_sanpham_hinhanh` DISABLE KEYS */;
INSERT INTO `db_sanpham_hinhanh` VALUES (105,778,'san-pham/tieu_den_xay/ground_black_pepper_1.jpg','',0,5),(104,778,'san-pham/tieu_den_xay/ground_black_pepper_25_mesh.jpg','',0,4),(103,778,'san-pham/tieu_den_xay/ground_black_pepper_25_mesh_.jpg','',0,3),(102,778,'san-pham/tieu_den_xay/ground_black_pepper_28_mesh.jpg','',0,2),(101,778,'san-pham/tieu_den_xay/ground_black_pepper_34_mesh.jpg','',0,1),(100,778,'san-pham/tieu_den_xay/ground_black_pepper_minus.jpg','',0,0);
/*!40000 ALTER TABLE `db_sanpham_hinhanh` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_seo`
--

DROP TABLE IF EXISTS `db_seo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_seo` (
  `id` int NOT NULL AUTO_INCREMENT,
  `title` text CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci NOT NULL,
  `keyword` text CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci NOT NULL,
  `des` text CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci NOT NULL,
  `lang` varchar(10) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=4 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_seo`
--

LOCK TABLES `db_seo` WRITE;
/*!40000 ALTER TABLE `db_seo` DISABLE KEYS */;
INSERT INTO `db_seo` VALUES (1,'VNJT FARM','VNJT FARM','VNJT FARM','vi'),(3,'VNJT FARM','VNJT FARM','VNJT FARM','en');
/*!40000 ALTER TABLE `db_seo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_ship`
--

DROP TABLE IF EXISTS `db_ship`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_ship` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_tinh` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_huyen` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `id_xa` varchar(10) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `phi_ship` decimal(15,0) DEFAULT '0',
  `ghi_chu` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `so_thu_tu` int DEFAULT '0',
  `hien_thi` tinyint(1) DEFAULT '1',
  `ghn_id` int DEFAULT NULL,
  `ghtk_id` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `phi_extra_kg` decimal(15,0) DEFAULT '0',
  `free_weight` double DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `idx_tinh_huyen_xa` (`id_tinh`,`id_huyen`,`id_xa`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_ship`
--

LOCK TABLES `db_ship` WRITE;
/*!40000 ALTER TABLE `db_ship` DISABLE KEYS */;
INSERT INTO `db_ship` VALUES (2,'79','785','',0,'Giao h├áng nß╗Öi th├ánh',0,1,NULL,NULL,'2026-04-07 14:50:58','2026-04-07 17:00:59',0,0),(4,'79','','',50000,'',0,1,NULL,NULL,'2026-04-07 15:41:03','2026-04-07 15:41:03',0,0),(5,'01','','',180000,'Nß╗Öi th├ánh H├á Nß╗Öi',0,1,NULL,NULL,'2026-04-07 15:42:16','2026-04-09 18:07:52',5000,5);
/*!40000 ALTER TABLE `db_ship` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_tags`
--

DROP TABLE IF EXISTS `db_tags`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_tags` (
  `id` int NOT NULL AUTO_INCREMENT,
  `ten` varchar(255) NOT NULL,
  `alias` varchar(255) NOT NULL,
  `hien_thi` tinyint NOT NULL,
  `lang` varchar(10) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=38 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_tags`
--

LOCK TABLES `db_tags` WRITE;
/*!40000 ALTER TABLE `db_tags` DISABLE KEYS */;
/*!40000 ALTER TABLE `db_tags` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_text`
--

DROP TABLE IF EXISTS `db_text`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_text` (
  `id` int NOT NULL AUTO_INCREMENT,
  `key_name` varchar(255) DEFAULT NULL,
  `group_name` varchar(50) DEFAULT 'uncategorized',
  `text` text NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `key_name_unique` (`key_name`)
) ENGINE=InnoDB AUTO_INCREMENT=183 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_text`
--

LOCK TABLES `db_text` WRITE;
/*!40000 ALTER TABLE `db_text` DISABLE KEYS */;
/*!40000 ALTER TABLE `db_text` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_thanhpho`
--

DROP TABLE IF EXISTS `db_thanhpho`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_thanhpho` (
  `id` int NOT NULL AUTO_INCREMENT,
  `ten` text CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL,
  `code` varchar(30) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=64 DEFAULT CHARSET=latin1 ROW_FORMAT=COMPACT;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_thanhpho`
--

LOCK TABLES `db_thanhpho` WRITE;
/*!40000 ALTER TABLE `db_thanhpho` DISABLE KEYS */;
/*!40000 ALTER TABLE `db_thanhpho` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_thanhtoan_ctv`
--

DROP TABLE IF EXISTS `db_thanhtoan_ctv`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_thanhtoan_ctv` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_ctv` int NOT NULL,
  `du_no_dau` int NOT NULL,
  `thanh_toan` int NOT NULL,
  `du_no_cuoi` int NOT NULL,
  `ma_hoadon` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `ngay_thanhtoan` date NOT NULL,
  `ghi_chu` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `ngay_tao` date NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_thanhtoan_ctv`
--

LOCK TABLES `db_thanhtoan_ctv` WRITE;
/*!40000 ALTER TABLE `db_thanhtoan_ctv` DISABLE KEYS */;
INSERT INTO `db_thanhtoan_ctv` VALUES (1,3,650000,500000,150000,'','2022-10-14','','2022-10-14');
/*!40000 ALTER TABLE `db_thanhtoan_ctv` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_thanhvien`
--

DROP TABLE IF EXISTS `db_thanhvien`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_thanhvien` (
  `id` int NOT NULL AUTO_INCREMENT,
  `ma_thanhvien` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ho_ten` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `dien_thoai` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `dia_chi` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `huyen` int NOT NULL DEFAULT '0',
  `tinh` int NOT NULL DEFAULT '0',
  `quoc_gia` int NOT NULL DEFAULT '0',
  `loai` int NOT NULL DEFAULT '0',
  `md5_email` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `mat_khau` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `token` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ngay_tao` date NOT NULL,
  `id_mxh` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `avata` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `trang_thai` int NOT NULL DEFAULT '0',
  `token_gioithieu` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `anh_bia` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `gioi_thieu` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_thanhvien`
--

LOCK TABLES `db_thanhvien` WRITE;
/*!40000 ALTER TABLE `db_thanhvien` DISABLE KEYS */;
INSERT INTO `db_thanhvien` VALUES (1,'00001','L├¬ Thß╗ï Thanh Nh├án','0964091594','kythuat02.pnvn@gmail.com','',0,0,0,0,'b28f9bdff14086cbaf200fd49b988eb1','c33367701511b4f6020ec61ded352059','LLWZLY','2022-09-16',NULL,NULL,1,'','',''),(5,'00005','Minh Nguyß╗çt',NULL,'minh.nguyetbd0112@gmail.com',NULL,0,0,0,0,'a2deff05dd97331b516b24c0827f5b9c','25f9e794323b453885f5181f1b624d0b','','2022-10-26',NULL,NULL,1,'','','');
/*!40000 ALTER TABLE `db_thanhvien` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_thongke`
--

DROP TABLE IF EXISTS `db_thongke`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_thongke` (
  `id` int NOT NULL AUTO_INCREMENT,
  `trong_ngay` int NOT NULL,
  `trong_ngay_date` int NOT NULL,
  `trong_tuan` int NOT NULL,
  `trong_tuan_date` int NOT NULL,
  `trong_thang` int NOT NULL,
  `trong_thang_date` int NOT NULL,
  `tong_truy_cap` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_thongke`
--

LOCK TABLES `db_thongke` WRITE;
/*!40000 ALTER TABLE `db_thongke` DISABLE KEYS */;
INSERT INTO `db_thongke` VALUES (1,1,20,1,38,1,9,16155);
/*!40000 ALTER TABLE `db_thongke` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_thongke_detail`
--

DROP TABLE IF EXISTS `db_thongke_detail`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_thongke_detail` (
  `session_id` varchar(255) NOT NULL,
  `time` int NOT NULL,
  PRIMARY KEY (`session_id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_thongke_detail`
--

LOCK TABLES `db_thongke_detail` WRITE;
/*!40000 ALTER TABLE `db_thongke_detail` DISABLE KEYS */;
INSERT INTO `db_thongke_detail` VALUES ('r18lcvra3v4ku49h363uv6k9da',1726823235);
/*!40000 ALTER TABLE `db_thongke_detail` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_thongtin`
--

DROP TABLE IF EXISTS `db_thongtin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_thongtin` (
  `id` int NOT NULL AUTO_INCREMENT,
  `company` text NOT NULL,
  `hotline` varchar(255) NOT NULL,
  `address` text NOT NULL,
  `office` varchar(255) DEFAULT NULL,
  `website` varchar(255) NOT NULL,
  `vat_rate` double DEFAULT '0',
  `vat_type` int DEFAULT '0',
  `hinh_anh` varchar(255) NOT NULL,
  `twitter` varchar(255) NOT NULL,
  `facebook` varchar(255) NOT NULL,
  `linkedin` varchar(255) NOT NULL,
  `dien_thoai` varchar(255) NOT NULL,
  `zalo` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `coppy_right` varchar(255) NOT NULL,
  `slogan` varchar(255) NOT NULL,
  `map` text CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci NOT NULL,
  `link_map` varchar(1000) NOT NULL,
  `iframe` text,
  `messenger` varchar(255) NOT NULL,
  `toa_do` varchar(255) NOT NULL,
  `favicon` varchar(255) NOT NULL,
  `icon_share` varchar(255) NOT NULL,
  `youtube` varchar(255) NOT NULL,
  `pinterest` varchar(255) NOT NULL,
  `instagram` varchar(255) NOT NULL,
  `tiktok` varchar(1000) DEFAULT NULL,
  `skype` varchar(255) NOT NULL,
  `telegram` varchar(200) NOT NULL,
  `whatsapp` varchar(200) NOT NULL,
  `shoppe` varchar(255) DEFAULT NULL,
  `code` varchar(255) NOT NULL,
  `lang` varchar(10) NOT NULL,
  `site_key` text NOT NULL,
  `secret_key` text NOT NULL,
  `thoi_gian` varchar(255) NOT NULL,
  `free_ship_threshold` decimal(15,0) DEFAULT '0',
  `default_ship_phi` decimal(15,0) DEFAULT '0',
  `ship_base_weight` decimal(10,2) DEFAULT '1.00',
  `ship_rounding` tinyint(1) DEFAULT '0',
  `url_lang_style` varchar(20) NOT NULL DEFAULT 'query',
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_thongtin`
--

LOCK TABLES `db_thongtin` WRITE;
/*!40000 ALTER TABLE `db_thongtin` DISABLE KEYS */;
/*!40000 ALTER TABLE `db_thongtin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_thuoctinh`
--

DROP TABLE IF EXISTS `db_thuoctinh`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_thuoctinh` (
  `id` int NOT NULL AUTO_INCREMENT,
  `ten` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `alias` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `mo_ta` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `loai` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `sap_xep` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_code` int NOT NULL,
  `lang` varchar(2) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_sanpham` int DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_thuoctinh`
--

LOCK TABLES `db_thuoctinh` WRITE;
/*!40000 ALTER TABLE `db_thuoctinh` DISABLE KEYS */;
INSERT INTO `db_thuoctinh` VALUES (7,'M├áu sß║»c','','','color','id',731,'vi',0),(8,'Color','','','color','id',731,'en',0),(9,'C├ón nß║╖ng','','','label','id',734,'vi',0),(10,'Weight','','','label','id',734,'en',0),(11,'K├¡ch th╞░ß╗¢c','kich-thuoc','','select','id',745,'vi',0),(12,'Size','size','','select','id',745,'en',0),(15,'Form','Form','','image','ten',784,'vi',778),(16,'Form','Form','','image','ten',784,'en',778);
/*!40000 ALTER TABLE `db_thuoctinh` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_thuoctinh_giatri`
--

DROP TABLE IF EXISTS `db_thuoctinh_giatri`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_thuoctinh_giatri` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_thuoctinh` int NOT NULL,
  `gia_tri` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ten` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `alias` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `mo_ta` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `id_code` int NOT NULL,
  `lang` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_sanpham` int DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `idx_id_thuoctinh` (`id_thuoctinh`)
) ENGINE=InnoDB AUTO_INCREMENT=41 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_thuoctinh_giatri`
--

LOCK TABLES `db_thuoctinh_giatri` WRITE;
/*!40000 ALTER TABLE `db_thuoctinh_giatri` DISABLE KEYS */;
/*!40000 ALTER TABLE `db_thuoctinh_giatri` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_user_permission_group`
--

DROP TABLE IF EXISTS `db_user_permission_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_user_permission_group` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_user` int NOT NULL,
  `id_permission` int NOT NULL,
  `action` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_user_permission_group`
--

LOCK TABLES `db_user_permission_group` WRITE;
/*!40000 ALTER TABLE `db_user_permission_group` DISABLE KEYS */;
INSERT INTO `db_user_permission_group` VALUES (1,22,22,12),(2,22,23,12),(3,22,30,12);
/*!40000 ALTER TABLE `db_user_permission_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_users`
--

DROP TABLE IF EXISTS `db_users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `token` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `username` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `password` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `fullname` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `phone` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `address` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `avatar` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `birthday` date DEFAULT NULL,
  `gender` tinyint(1) DEFAULT '0',
  `role_id` int DEFAULT '0',
  `is_admin` tinyint(1) DEFAULT '0',
  `is_active` tinyint(1) DEFAULT '1',
  `created_at` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `idx_username` (`username`),
  KEY `idx_role_id` (`role_id`)
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_users`
--

LOCK TABLES `db_users` WRITE;
/*!40000 ALTER TABLE `db_users` DISABLE KEYS */;
INSERT INTO `db_users` VALUES (1,'32f05e59108c2b89c2305de3c3f79702','admin','ddcc6c60df64e89faf2bc1ec321c00b167dd4287','linhnguyen93cmg@gmail.com','Admin','0388442351','K01B/14 L├¬ Trß╗ìng Tß║Ñn','395209126_7098402140171579_3912294698631496411_n_5168_1698218521013_16982185211191625182965.jpg','2026-06-19',0,4,1,1,1473306606),(26,NULL,'phuongnam','fb149a24af28bad60f730dca664f90b0a1f59230','linhnguyen93cmg@gmail.com','Nguyß╗àn Xu├ón Linh','0388442351','Ph├║ Thuß║¡n','13.jpg',NULL,0,3,0,1,1780854134);
/*!40000 ALTER TABLE `db_users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_video`
--

DROP TABLE IF EXISTS `db_video`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_video` (
  `id` int NOT NULL AUTO_INCREMENT,
  `ten` text NOT NULL,
  `alias` varchar(255) NOT NULL,
  `noi_dung` text NOT NULL,
  `hinh_anh` varchar(255) NOT NULL,
  `ma_video` varchar(100) NOT NULL,
  `video` text NOT NULL,
  `title` varchar(255) NOT NULL,
  `keyword` text NOT NULL,
  `des` text NOT NULL,
  `id_loai` int NOT NULL,
  `id_code` int NOT NULL,
  `so_thu_tu` int NOT NULL,
  `cap_nhat` int NOT NULL,
  `hien_thi` tinyint NOT NULL,
  `lang` varchar(10) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `alias` (`alias`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_video`
--

LOCK TABLES `db_video` WRITE;
/*!40000 ALTER TABLE `db_video` DISABLE KEYS */;
INSERT INTO `db_video` VALUES (1,'Video Home','video-home','','7.png','https://www.youtube.com/watch?v=JuZQEzCJirs','204.mp4','Video Home','','',0,574,0,1716885086,1,'vi');
/*!40000 ALTER TABLE `db_video` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_xa`
--

DROP TABLE IF EXISTS `db_xa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_xa` (
  `id` int NOT NULL AUTO_INCREMENT,
  `code_tinh` varchar(255) NOT NULL,
  `code_huyen` varchar(255) NOT NULL,
  `code` varchar(255) NOT NULL,
  `ten` text NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11145 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_xa`
--

LOCK TABLES `db_xa` WRITE;
/*!40000 ALTER TABLE `db_xa` DISABLE KEYS */;
/*!40000 ALTER TABLE `db_xa` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `db_yeuthich`
--

DROP TABLE IF EXISTS `db_yeuthich`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `db_yeuthich` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_thanhvien` int NOT NULL,
  `id_sp` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `db_yeuthich`
--

LOCK TABLES `db_yeuthich` WRITE;
/*!40000 ALTER TABLE `db_yeuthich` DISABLE KEYS */;
/*!40000 ALTER TABLE `db_yeuthich` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-08 20:56:46
